---
layout: nil
---
<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }}</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript">addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
	<!--fonts-->
	<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- slide -->
</head>
<body>
<!--header-->
	<div class="header">
		<div class="container">	
			<div class="logo">
				<a href="index.html"><img src="images/log.png" alt=""></a>
			</div>
				<div class="top-nav">
					<span class="menu"><img src="images/menu.png" alt=""> </span>
					<ul>{% include nav_bar.html %}</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!---->
	<div class="banner">
		 <div class="container">
			<div class="col-md-6 banner-matter">
				<!-- requried-jsfiles-for owl -->
				<link href="css/owl.carousel.css" rel="stylesheet">
				<script src="js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo1").owlCarousel({
									        items : 1,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						<div id="owl-demo1" class="owl-carousel">
							<div class="item-bottom">
					            <div class="item-right">
									<h1 style="margin-bottom: 20px">新一代阅读器！</h1>
									<span>主推阅读功能，并整合线上资源的安卓阅读器~</span>
									<p>这是一个纯净的安卓阅读器（可在线、可本地），非常纯净没有商城，但是有一个插件库用于搜索并下载在线书籍；无广告、统计功能可关；等等等等；最重要的是长期维护以及Apache 2.0开源协议！嘿嘿，其实这是我的毕业设计课题，所以等毕业之后才能开源~ etc</p>
									<a href="#"><i> </i>暂不开放下载（开发中）</a>
								</div>
							</div>
							<!--<div class="item-bottom">-->
					            <!--<div class="item-right">-->
									<!--<h1>best mobIle app</h1>-->
									<!--<span>Download this cool app for free</span>-->
									<!--<p>Dignissim eros luptatum dolore tation erat euismod, ad ut illum lobortis qui, velit ullamcorper, lobortis vel, vel ad duis lorem nisl. Iriure dolore et eros aliquip aliquip zzril vel praesent ex feugiat dolor nostrud eu vel delenit. Duis eu qui iusto, commodo consequat, consequat laoreet augue, duis at adipiscing ullamcorper facilisis dolor te odio. </p>-->
									<!--<a href="#"><i> </i>Download </a>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="item-bottom">-->
					            <!--<div class="item-right">-->
									<!--<h1>best mobIle app</h1>-->
									<!--<span>Download this cool app for free</span>-->
									<!--<p>Dignissim eros luptatum dolore tation erat euismod, ad ut illum lobortis qui, velit ullamcorper, lobortis vel, vel ad duis lorem nisl. Iriure dolore et eros aliquip aliquip zzril vel praesent ex feugiat dolor nostrud eu vel delenit. Duis eu qui iusto, commodo consequat, consequat laoreet augue, duis at adipiscing ullamcorper facilisis dolor te odio. </p>-->
									<!--<a href="#"><i> </i>Download </a>-->
								<!--</div>-->
							<!--</div>								-->
						</div>
				</div>
				<div class="col-md-6 banner-side">
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba.jpg" alt="">
					</div>
					<div class="col-md-6 side">
						<img class="img-responsive" src="images/ba1.jpg" alt="">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>	
	</div>
	<!---->
	<div class="content">
		<div class="container">
			<!--<div class="content-top">
			</div>-->
			<div class="content-grid">
				<h2>简介一下构想</h2><hr>
				<ul style="text-align: left;">
					<li>主界面是阅读器的书架，本地书籍列表，也可以导入本地书籍，主打无广告、无书城的纯净阅读；</li>
					<li>然后可以到一个“数据源插件库”（暂定名）下载感兴趣的数据源插件（几K大小，我开发的），数据源库我用github pages做的json或者html，中间环节采用了CloudFlare的CDN，我也会设置备用线路（俺会自掏腰包的 _(:3」∠)_）；</li>
					<li>数据源带有版本号，用于检查更新用；（所以可以扩展到更广泛的小说站，甚至漫画站）</li>
					<li>有了数据源插件，就可以在该数据源搜索、并且缓存到本地、甚至可以口碑评分什么的（这个我以后再加服务）；</li>
					<li>本地书架云备份，目前比较倾向于<code>OneDrive</code>，当然我会接入<code>金山快盘</code>以及<code>百度云</code>（<strong>申请了3周还在审核中我去！！！</strong>），允许用户自行选择；</li>
					<li>全新的阅读器，这是全新的阅读器嗯，代码会比wenku8的app更加漂亮，而且拥有完备的JUnit单元测试代码；</li>
					<li>友盟统计<strong>可关</strong>，检查更新<strong>可关</strong>，各种恼人的东西<strong>都可以关闭</strong>；</li>
					<li>最重要的是，<strong>毕业设计之后开源 =。= 非盈利嗯 JUST FOR FUN</strong></li>
					<li><strong>长期维护！长期维护！长期维护！</strong></li>
				</ul>
			</div>
		</div>
		<div class="content-bottom">
			<div class="container">
				<h3>思维导图(完善中)</h3>
				<a target="_blank" href="mindproject.jpeg"><img src="mindproject.jpeg" width="100%" height="auto"/></a>
			</div>
			<i> </i>
		</div>
	</div>
	<!---->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-12">
					<p style="color: snow"><b>希望增加插件的网站欢迎留言（最好加一下推荐理由），或者发邮件【&#0000105;&#0109;&#0000101;&#0119;&#120;&#0064;&#x00071;&#0000113;&#46;&#099;&#0000111;&#0000109;】，目前打算的网站有：linovel、sfacg、8kana、etc</b></p>
				</div>
			</div>
			{% include copyleft.html %}
		</div>
        <script language="javascript">document.getElementById("id_home").setAttribute("class","active");</script>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
				};
				*/
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>
</body>
</html>