<li id="id_home"><a href="index.html" >主页</a></li>
<li id="id_essay"><a href="essay.html" >毕业设计原文XD（~1M）</a></li>
<li id="id_devlog"><a href="devlog.html" >开发日志 ({% for post in site.posts limit:1 %}{{ post.date | date: "%m.%d" }}{% endfor %}更新)</a></li>
<li id="id_subscribe"><a href="subscribe.html" >订阅邮件</a></li>
<li id="id_msg"><a href="msg.html" >留言板</a></li>
<!--<li class="active" ><a href="services.html" > SERVICES</a></li>-->
<!--<li><a href="404.html" >  SOLUTIONS  </a></li>-->
<!--<li><a href="prices.html" > PRICES </a></li>-->
<!--<li><a href="contact.html" >CONTACT</a></li>-->
